@media (prefers-color-scheme: dark) {
    body,html {
        background-color:#1a1a1a;
        color: #d4d4d4;
        fill: #d4d4d4
    }
}

h1 {
    clear: both
}

h2 {
    margin-top: 2em
}

a.column {
    color: inherit;
    transition: color .25s ease-in-out
}

a.column:active,a.column:focus,a.column:hover {
    color: #08c;
    fill: #08c;
    -webkit-text-decoration: none;
    text-decoration: none
}

a.column h3 {
    margin-bottom: .5em
}
support-62c0636985
.row.apps {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 12px;
    text-align: center
}

.row.apps .app {
    border: 1px solid transparent;
    border-radius: 4px;
    color: inherit;
    margin: 12px 0;
    padding: 12px;
    text-align: left;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
    vertical-align: top;
    width: 100%;
    word-wrap: break-word
}

.row.apps .app:active,.row.apps .app:focus,.row.apps .app:hover {
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.25);
    -webkit-text-decoration: none;
    text-decoration: none
}

.row.apps .app img,.row.apps .app span {
    display: inline-block
}

.row.apps .app img {
    vertical-align: middle
}

@media (min-width: 600px) {
    .row.apps .app {
        text-align:center;
        width: 192px
    }

    .row.apps .app img,.row.apps .app span {
        display: block
    }

    .row.apps .app img {
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle
    }
}

.row.apps .app span {
    line-height: 24px;
    padding: 16px 12px 0
}
